html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


#lbCliente{
    font-size: 18px;
}

#pedidoId {
    background-color: lightgray;
    font-size: 15px;
}

#TotalPedido {
    font-size: 18px;
}

/*Formatando cabeçalho da tela AddPedido*/
#cabecalho #data-entrega {
    float: left;
    margin-right: 30px;
    font-size: 18px;
}

#cabecalho #data-pagamento {
    float: left;
    font-size: 18px;
}

#cabecalho #numero-remessa {
    float: left;
    margin-right: 30px;
    font-size: 18px;
}

#cliente-pedido {
    clear: both;
    font-size: 18px;
}
