<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/47d19be8-bc9f-4c66-8cc4-1419330c26f5/resourceGroups/ImperioNobre/providers/Microsoft.Web/sites/imperionobre-gestao</ResourceId>
    <ResourceGroup>ImperioNobre</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://imperionobre-gestao-gmh2dvfvd9dqehdf.westus3-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>4dc4adce-8e49-4ab0-a0c0-ab796c3daf5d</ProjectGuid>
    <MSDeployServiceURL>imperionobre-gestao-gmh2dvfvd9dqehdf.scm.westus3-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>imperionobre-gestao</DeployIisAppPath>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>REDACTED</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>false</SelfContained>
    <RuntimeIdentifier>win-x86</RuntimeIdentifier>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAd4xkVFSwdEKLLUEh1EB+YwAAAAACAAAAAAAQZgAAAAEAACAAAADS28pRnMaWf6HjNyRPbbPl5ah0b6BdHLFwwT9inUPgtAAAAAAOgAAAAAIAACAAAAAj/X6LEVdE+MhT2mb2vIuacWWdbVZrZLVUeFA2Y4ZbXiAAAACl6QgEQCZxy9MLUzTe4zxxBBJfYEyFxcSC8Qkz3IvT80AAAACyVXh59N1facZ8jdOmVBgV6OkqSBzUk6wA+UE1xyQOjz3+mbrGj0K9Gn53Mo6VjkCPdqKgw54bhgP7oks8i0Pc</EncryptedPassword>
    <EnvironmentSubType>AppServicePublishProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
    <RemoteSitePhysicalPath />
  </PropertyGroup>
</Project>