<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/47d19be8-bc9f-4c66-8cc4-1419330c26f5/resourceGroups/ImperioNobre/providers/Microsoft.Web/sites/imperionobre-gestao</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://imperionobre-gestao-gmh2dvfvd9dqehdf.westus3-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>4dc4adce-8e49-4ab0-a0c0-ab796c3daf5d</ProjectGuid>
    <PublishUrl>https://imperionobre-gestao-gmh2dvfvd9dqehdf.scm.westus3-01.azurewebsites.net/</PublishUrl>
    <UserName>$imperionobre-gestao</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>